<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CALCULADORA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <ion-item>
      <ion-label position="floating">
        1º Número
      </ion-label>
      <ion-input type="number" [(ngModel)] = "num1"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        2º Número
      </ion-label>
      <ion-input type="number" [(ngModel)] = "num2"></ion-input>
    </ion-item>
    <div>
      <ion-input value="{{resposta}}" readonly></ion-input>
    </div>

    <div>
      <ion-button color="warning" expand="block"  (click)="somar()">
        Somar
      </ion-button>
    </div>
    <div>
      <ion-button color="danger" expand="block" (click)="subtrair()">
        Subtrair
      </ion-button>
    </div>
    <div>
      <ion-button color="dark" expand="block" (click)="multiplicar()">
        Multiplicar
      </ion-button>
    </div>
    <div>
      <ion-button color="success" expand="block" (click)="dividir()">
        Dividir
      </ion-button>
    </div>
  </div>
</ion-content>
